form {

}
.centralize {
    width: 100%;
    position: absolute;
    display: inline-flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    height: 100%;
    background-color: aqua;
    margin-top: 100rem;
}